# Databases
*.duckdb
*.duckdb.*
*.db
*.db-journal
*.db-wal
*.sqlite
*.sqlite-journal
*.sqlite-wal

# Data folders
dados/
data/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
